params {
    // Input configurations
    metadata = "./data/metadata.tsv"
    sample_sheet   = "./data/sample_sheet.csv"
    input_dir      = "./data/seqs"
    // Output configurations
    out_dir        = "./results"
    // Primers
    fwd_primer     = 'GTGYCAGCMGCCGCGGTAA'
    rev_primer     = 'GGACTACNVGGGTWTCTAAT'
}

singularity {
    enabled    = true
    autoMounts = true
}

process {
    withName: CUTADAPT      { cpus = 4  }
    withName: FASTQC        { cpus = 2  }
    errorStrategy = 'ignore'
}
