/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/abgtemplate Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input          = "./data/sample_sheet.csv"
    metadata       = "./data/patients_sample_information.tsv"

    // Output options
    outdir         = "./results"

    // Primers
    fwd_primer     = 'GTGYCAGCMGCCGCGGTAA'
    rev_primer     = 'GGACTACNVGGGTWTCTAAT'

    // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    multiqc_logo               = null
    max_multiqc_email_size     = '25.MB'
    multiqc_methods_description = null

    // Boilerplate options
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = System.getenv('HOOK_URL')
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Schema validation default options
    validate_params            = true

    // Group C inputs: Contamination filtering and diversity analysis
    kraken2_db                 = "/data/upfagb/u269238/kraken2_db"
    min_batch_size             = 50
    qiime2_conda_env           = "qiime2=2026.1"

    // Group B inputs: SILVA reference databases for DADA2 taxonomy.
    dada2_train_set            = "${projectDir}/biodb/dada2/silva_nr99_v138.2_toGenus_trainset.fa"
    dada2_species_set          = "${projectDir}/biodb/dada2/silva_v138.2_assignSpecies.fa"
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm64 {
        process.arch            = 'arm64'
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    emulate_amd64 {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.runOptions  = "--bind /data/upfagb/u269238:/data/upfagb/u269238 --bind /data/upfagb/u269208:/data/upfagb/u269208"
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gpu {
        docker.runOptions       = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions    = '--nv'
        singularity.runOptions  = '--nv'
    }
    test      { includeConfig 'conf/test.config'      }
    test_full { includeConfig 'conf/test_full.config' }

    groupB {
        params.dada2_train_set   = "${projectDir}/biodb/dada2/silva_nr99_v138.2_toGenus_trainset.fa"
        params.dada2_species_set = "${projectDir}/biodb/dada2/silva_v138.2_assignSpecies.fa"
    }

    slurm {
        process.executor = 'slurm'
    }
}

includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'

env {
    PYTHONNOUSERSITE      = 1
    R_PROFILE_USER        = "/.Rprofile"
    R_ENVIRON_USER        = "/.Renviron"
    JULIA_DEPOT_PATH      = "/usr/local/share/julia"
    NUMBA_CACHE_DIR       = "/data/upfagb/u269208/agb2026/tmp"
    MPLCONFIGDIR          = "/data/upfagb/u269208/agb2026/tmp"
    TMPDIR                = "/data/upfagb/u269208/agb2026/tmp"
    SINGULARITY_TMPDIR    = "/data/upfagb/u269208/agb2026/tmp"
    UNSQUASHFS_PROCESSORS = "4"
}

process.shell = [
    "bash", "-C", "-e", "-u", "-o", "pipefail"
]

nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'nf-core/abgtemplate'
    contributors    = [
        [
            name: 'AGB-UPF2026',
            affiliation: '',
            email: '',
            github: '',
            contribution: [],
            orcid: ''
        ],
    ]
    homePage        = 'https://github.com/nf-core/abgtemplate'
    description     = """Idk bestie, later we will change it probs"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=25.04.0'
    version         = '1.0.0dev'
    doi             = ''
}

plugins {
    id 'nf-schema@2.5.1'
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs = params.monochrome_logs
}

includeConfig 'conf/modules.config'

process {
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'finish' }
    maxRetries    = 2

    withName: 'CUTADAPT' {
        cpus = 4
    }
    withName: 'FASTQC' {
        memory = 3.GB
        cpus   = 2
    }
    withName: 'KRAKEN2' {
        memory = 40.GB
        cpus   = 8
    }
    withName: 'DADA2_ERR' {
        memory = 16.GB
        cpus   = 4
    }
    withName: 'DADA2_DENOISING' {
        memory = 20.GB
        cpus   = 4
    }
    withName: 'DADA2_MERGE_CHIMERA' {
        memory = 20.GB
        cpus   = 4
    }
    withName: 'DADA2_TAXONOMY' {
        memory = 40.GB
        cpus   = 4
    }
    withName: 'PICRUST' {
        memory = 20.GB
        cpus   = 4
    }
    withName: 'CONTAMINATION_FILTER' {
        memory = 8.GB
        cpus   = 2
    }
    withName: 'DIVERSITY_METRICS' {
        memory = 8.GB
        cpus   = 4
    }
    withName: 'RAREFACTION_THRESHOLD|SKIP_RAREFACTION' {
        memory = 16.GB
        cpus   = 4
    }

    withName: 'prepare_inputs|get_sampling_depth|diversity_analysis|RAREFACTION_THRESHOLD|SKIP_RAREFACTION' {
        containerOptions = "--bind /data/upfagb/u269208/agb2026/tmp:/tmp --bind /data/upfagb/u269208:/data/upfagb/u269208"
        memory = 16.GB
        cpus   = 4
    }
}
