apptainer {
    enabled    = true
    autoMounts = true
    cacheDir   = "/data/upfagb/u269208/agb2026/containers"
    runOptions = "--bind /data/upfagb/u269208/agb2026/tmp:/tmp"
}

env {
    NUMBA_CACHE_DIR = "/tmp"
    MPLCONFIGDIR    = "/tmp"
    TMPDIR          = "/tmp"
}


params {
    outdir = "results"
}

process {
    withName: 'prepare_inputs' {
        container  = '/data/upfagb/u269208/agb2026/containers/qiime2-amplicon-2026.1.sif'
        cpus   = 4
        memory = '16 GB'
        time   = '2 h'
        publishDir = [
            path: { "${launchDir}/data" },
            mode: 'copy'
        ]
    }
    withName: 'get_sampling_depth' {
        container  = '/data/upfagb/u269208/agb2026/containers/qiime2-amplicon-2026.1.sif'
        cpus   = 1
        memory = '4 GB'
        time   = '30 m'
        publishDir = [
            path: { "${launchDir}" },
            mode: 'copy'
        ]
    }
    withName: 'diversity_analysis' {
        container  = '/data/upfagb/u269208/agb2026/containers/qiime2-amplicon-2026.1.sif'
        cpus   = 4
        memory = '8 GB'
        time   = '2 h'
        publishDir = [
            path: { "${launchDir}" },
            mode: 'copy'
        ]
    }
}
