apptainer {
    enabled    = true
    autoMounts = true
    cacheDir   = "/data/upfagb/u269208/agb2026/containers"
    runOptions = "--bind /data/upfagb/u269208/agb2026/tmp:/tmp"
}
singularity.enabled = false
docker.enabled      = false

env {
    NUMBA_CACHE_DIR = "/tmp"
    MPLCONFIGDIR    = "/tmp"
    TMPDIR          = "/tmp"
}

params {
    data_dir         = "/data/upfagb/u269208/agb2026/modules/groupC/phase2_diversity_analysis/modules/module_diversity_metrics/data"
    outdir           = "results"
    batch_size       = 15
    min_batch_size   = 15
    qiime2_conda_env = null
}

process {
    withName: 'prepare_inputs' {
        container  = '/data/upfagb/u269208/agb2026/containers/qiime2-amplicon-2026.1.sif'
        cpus       = 4
        memory     = '8 GB'
        time       = '2 h'
        publishDir = [
            path: { "${launchDir}/data" },
            mode: 'copy'
        ]
    }
    withName: 'get_sampling_depth' {
        container  = '/data/upfagb/u269208/agb2026/containers/qiime2-amplicon-2026.1.sif'
        cpus       = 1
        memory     = '4 GB'
        time       = '30 m'
        publishDir = [
            path: { "${launchDir}" },
            mode: 'copy'
        ]
    }
    withName: 'diversity_analysis' {
        container  = '/data/upfagb/u269208/agb2026/containers/qiime2-amplicon-2026.1.sif'
        cpus       = 4
        memory     = '8 GB'
        time       = '2 h'
        publishDir = [
            path: { "${launchDir}" },
            mode: 'copy'
        ]
    }
    withName: 'RAREFACTION_THRESHOLD' {
        container  = '/data/upfagb/u269208/agb2026/containers/qiime2-amplicon-2026.1.sif'
        cpus       = 4
        memory     = '8 GB'
        time       = '2 h'
        publishDir = [
            path: { "${launchDir}/results" },
            mode: 'copy'
        ]
    }
    withName: 'SKIP_RAREFACTION' {
        container  = '/data/upfagb/u269208/agb2026/containers/qiime2-amplicon-2026.1.sif'
        cpus       = 1
        memory     = '2 GB'
        time       = '10 m'
        publishDir = [
            path: { "${launchDir}/results" },
            mode: 'copy'
        ]
    }
    withName: 'KRAKEN2' {
        container = 'https://depot.galaxyproject.org/singularity/kraken2:2.1.3--pl5321hdcf5f25_0'
        cpus      = 8
        memory    = '40 GB'
        time      = '2 h'
    }
    withName: 'CONTAMINATION_FILTER' {
        container = '/data/upfagb/jvillanueva/apptainer_cache/community.wave.seqera.io-library-bioconductor-decontam_r-gridextra_r-tidyverse-3cd9a275a53c9075.img'
        cpus      = 2
        memory    = '8 GB'
        time      = '1 h'
    }
}

