docker {
    enabled    = true
    fixOwnership = true
    runOptions = "-e NUMBA_CACHE_DIR=/tmp -e MPLCONFIGDIR=/tmp -e TMPDIR=/tmp"
}

env {
    NUMBA_CACHE_DIR = "/tmp"
    MPLCONFIGDIR    = "/tmp"
    TMPDIR          = "/tmp"
}

params {
    outdir = "results"
    batch_size     = 15   // emit a batch every N samples
    min_batch_size = 15   // discard remainder batches smaller than this
}

process {
    withName: 'prepare_inputs' {
        container  = 'quay.io/qiime2/amplicon:2026.1'
        cpus   = 4
        memory = '8 GB'
        time   = '2 h'
        publishDir = [
            path: { "${launchDir}/data" },
            mode: 'copy'
        ]
    }
    withName: 'get_sampling_depth' {
        container  = 'quay.io/qiime2/amplicon:2026.1'
        cpus   = 1
        memory = '4 GB'
        time   = '30 m'
        publishDir = [
            path: { "${launchDir}" },
            mode: 'copy'
        ]
    }
    withName: 'diversity_analysis' {
        container  = 'quay.io/qiime2/amplicon:2026.1'
        cpus   = 4
        memory = '8 GB'
        time   = '2 h'
        publishDir = [
            path: { "${launchDir}" },
            mode: 'copy'
        ]
    }
        withName: 'RAREFACTION_THRESHOLD' {
        container  = 'quay.io/qiime2/amplicon:2026.1'
        cpus   = 4
        memory = '8 GB'
        time   = '2 h'
        publishDir = [
            path: { "${launchDir}/results" },
            mode: 'copy'
        ]
    }
}
