conda.enabled = true

params {
    data_dir = "data"
    outdir   = "results"
}

process {
    withName: 'contamination_filter' {
        conda  = 'bioconda::bioconductor-decontam conda-forge::r-tidyverse'
        cpus   = 2
        memory = '8 GB'
        time   = '1 h'
        publishDir = [
            path: { "${params.outdir}/contamination_filter" },
            mode: 'copy'
        ]
    }
}