conda.enabled = true

params {
    kraken2_db = "/data/upfagb/u269238/kraken2_db"
    data_dir   = "data"
    outdir     = "results"
}

process {
    withName: 'kraken2' {
        conda  = 'bioconda::kraken2'
        cpus   = 8
        memory = '16 GB'
        time   = '2 h'
        publishDir = [
            path: { "${params.outdir}/kraken2" },
            mode: 'copy'
        ]
    }
}