docker {
    enabled    = true
    fixOwnership = true
    runOptions = "-e NUMBA_CACHE_DIR=/tmp -e MPLCONFIGDIR=/tmp -e TMPDIR=/tmp"
}

env {
    NUMBA_CACHE_DIR = "/tmp"
    MPLCONFIGDIR    = "/tmp"
    TMPDIR          = "/tmp"
}

params {
    outdir               = "results"
    diversity_metrics_dir = "../module_diversity_metrics"
    batch_size     = 20   // emit a batch every N samples
    min_batch_size = 20   // discard remainder batches smaller than this
}

process {
    withName: 'RAREFACTION_THRESHOLD' {
        container  = 'quay.io/qiime2/amplicon:2026.1'
        cpus   = 4
        memory = '8 GB'
        time   = '2 h'
        publishDir = [
            path: { "${launchDir}/results" },
            mode: 'copy'
        ]
    }
}
